.Home {
  .section--1 {
    background-image: url('/images/uploads/background-image--1.png');
    height: 1300px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: -70px;

    .container {
      height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-weight: 700;
        width: 565px;
      }

      p {
        width: 520px;
      }
    }
  }
}
