:root {
  --purple: #190057;
  --pink: #f85762;
  --lightGrey: #f6f6f6;

  --font-primary: 'Quicksand', sans-serif;
  --font-secondary: 'museo-sans';
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}

body {
  font-family: var(--font-secondary);
  min-height: 100%;
  position: relative;
  color: var(--purple);
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
  --font-primary: 'Quicksand', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

/* Utility Classes */

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Layout */

.section {
  width: 100%;
  padding: 7.5rem 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
}
.section.noPadding {
  padding: 0;
}

@media (max-width: 600px) {
  .section {
    width: 100%;
    padding: 5rem 0;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
}

.container {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}

/* Buttons */

.Button-pink {
  background: #f67280;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}
.Button-pink:hover,
.Button-pink:focus {
  outline: none;
  background: white;
  color: #f67280;
  transition: all 0.3s ease;
}

.Button-white {
  background: white;
  color: var(--purple);
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  display: inline-block;
  padding: 20px 0px;
  width: 280px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.Button-white:hover,
.Button-white:focus {
  outline: none;
  background: var(--pink);
  color: white;
  transition: all 0.3s ease;
}
